{
    "env":{
        "browser":true, //windows , alert
        "node":true, //process
        "es6" :true
    },
    "parserOptions":{
        "ecmaVersion" :"latest",
        "sourceType":"module"
    },
    "rules":{
//        "no-console":["warn"],
//        "indent":["error",2],
//        "quotes":["error","backtick"],
//        "semi":["error","always"],
//        "no-unused-vars":["warn"],
//        "camelcase":["warn"] 
        "linebreak-style":["off"],
        "no-unused-vars":["warn"]
    },
    "extends":["airbnb-base"]
}